{% extends 'store/base.html' %}
{% load static %}

{% block title %}ALM: Suspensiones y Componentes{% endblock %}

{% block extra_css %}
    .floating-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <!-- Aquí va el contenido específico de cada página -->
    {% block main_content %}
    {% endblock main_content %}

</div>

{% block extra_js %}
<script>
    // Script específico para rotación de iconos
    document.addEventListener('DOMContentLoaded', function () {
        var collapseButtons = document.querySelectorAll('.collapse-button');

        collapseButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var icon = this.querySelector('.bi');

                if (icon.classList.contains('bi-caret-down-fill')) {
                    icon.classList.remove('bi-caret-down-fill');
                    icon.classList.add('bi-caret-up-fill');
                } else {
                    icon.classList.remove('bi-caret-up-fill');
                    icon.classList.add('bi-caret-down-fill');
                }
            });
        });
    });
</script>
{% endblock %}
{% endblock content %}